<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Arnold!</title>
</head>
<body>
    <h1>Hello Arnold!</h1>
    <p>This is my first site</p>
    <p>Do you think im skillful?</p>

    <P></P>
    <a href=/yes>YES</a> <a href=/no>NO</a>
    <P></P>

    <img src="https://cdn.britannica.com/s:700x450/17/189417-004-D19E2C3F.jpg" big-src="https://cdn.britannica.com/17/189417-004-D19E2C3F.jpg" alt="Schwarzenegger, Arnold" data-width="332" data-height="450">
</body>
</html>